<footer class="bg-light text-center py-3 mt-5">
  <div class="container">
    <p>&copy; <%= Time.now.year %> Crazy4Cats, DESAFIO LATAM.</p>
    <div>
    <a href="https://github.com/mrSpeedle/C4C" target="_blank" class="mx-3">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.youtube.com/watch?v=izGwDsrQ1eQ" target="_blank" class="mx-3">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
    <a href="https://discord.gg/FjXgshGW" target="_blank" class="mx-3">
      <i class="fab fa-discord fa-2x"></i>
    </a>
  </div>
  </div>
</footer>
