<div id="<%= dom_id publication %>">
  <p>
    <strong>Photo:</strong>
    <%= publication.photo %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= publication.body %>
  </p>

</div>
