<% content_for :title, "Editing publication" %>


<div class="edit-publication-container">
<h1>Editing publication</h1>
<%= render "comments/form", comment: @comment %>


<br>

<div class="links">
  <%= link_to "Show this publication", @publication %> |
  <%= link_to "Back to publications", publications_path %>
</div>
</div>