<% content_for :title, "Editing publication" %>

<h1>Editing publication</h1>

<%= render "comments/form", comment: @comment %>


<br>

<div>
  <%= link_to "Show this publication", @publication %> |
  <%= link_to "Back to publications", publications_path %>
</div>
