<p style="color: green"><%= notice %></p>

<% content_for :title, "Publications" %>

<div class="d-flex justify-content-center align-items-center my-4"> <!-- Contenedor flex centrado -->
  <h1 class="mb-0 me-3">Publications</h1> <!-- Margen a la derecha del h1 -->
  <%= link_to "Nueva Publicación", new_publication_path, class: "btn btn-primary" %> <!-- Botón de Bootstrap -->
</div>

<div id="publications" class="text-center"> <!-- Centro las publicaciones -->
  <% @publications.each do |publication| %>
    <div class="publication-card">
      <%= render publication %>
    </div>
  <% end %>
</div>


