/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .edit-publication-container {
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra horizontalmente */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.links {
  margin-top: 20px; /* Espaciado superior para separar los enlaces */
}


 .custom-navbar {
    background-color: #EBC55E; /* Color personalizado para el navbar */
  }
  
  .custom-dropdown-toggle {
    background-color: #D3B84D; /* Tono más oscuro para el botón del usuario */
    color: white; /* Color del texto en el botón */
  }
  
  .custom-dropdown-toggle:hover {
    background-color: #C2A34A; /* Color al pasar el ratón por encima */
  }
  
  .navbar .nav-link {
    color: #333; /* Color de los enlaces del navbar */
  }
  
  .navbar .nav-link:hover {
    color: #000; /* Color al pasar el ratón por encima de los enlaces */
  }
  

  .btn {
    margin-left: 15px; /* Espacio a la izquierda del botón, si es necesario */
  }
  

  #publications {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto; /* Ajusta el margen según lo necesites */
  }
  
  .signup-container {
    max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde opcional */
    border-radius: 5px; /* Bordes redondeados opcionales */
    background-color: #f9f9f9; /* Color de fondo opcional */
  }
  
  .field {
    margin-bottom: 15px; /* Espaciado entre campos */
  }
  
  .actions {
    text-align: center; /* Centra el botón de envío */
  }